brotlipy==0.7.0
certifi==2021.5.30
click==8.0.3
colorama==0.4.4
conda==4.10.3
distlib==0.3.4
filelock==3.4.2
Flask==2.0.2
Flask-Uploads==0.2.1
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
menuinst==1.4.16
platformdirs==2.4.1
pycosat==0.6.3
pywin32==228
virtualenv==20.13.0
Werkzeug==2.0.2
wincertstore==0.2
gunicorn
